<blade-panel>
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8">
                <blade-box-panel setTitle="Facturas">
                    <ng-container boxbody>
                        <billable-admissions-table />
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Detalles">
                    <ng-container boxbody>
                        <billable-admissions-detail />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>