<div class="im-select">
    <fieldset class="im-fieldset">
        @if(setLabel()) {
            <legend>{{ setLabel() }}</legend>
        }
        <div class="input-group" [class]="size()">
            <label class="input-group-text" [for]="id">
                <i class="icofont-rounded-down"></i>
            </label>
            <input class="form-control" type="text" [id]="id" [value]="selected()?.name" readonly [placeholder]="setPlaceholder()" (focus)="change()">
        </div>
    </fieldset>
    <ul [class]="{ 'active': visible() }">
        @for(option of options(); track option.value) {
            <li [title]="option.name" [ariaValueText]="option.value" (click)="changeInput(option.value)">{{ option.name }}</li>
        }
    </ul>
</div>