<div class="im-select">
    <fieldset class="im-fieldset" [class.invalid]="error()">
        @if(setLabel()) {
            <legend>{{ setLabel() }}</legend>
        }
        <div class="input-group" [class]="size()">
            <label class="input-group-text" [for]="id">
                <i class="icofont-rounded-down"></i>
            </label>
            <input class="form-control" type="text" [id]="id" [value]="selected()?.name" readonly [placeholder]="setPlaceholder()" (keydown)="onKeydown($event)" (blur)="blur()">
            @if(error()) {
                <div class="input-group-text">
                    <span class="message-error">
                        <i class="icofont-info-circle"></i>
                        <span>{{ error() }}</span>
                    </span>
                </div>
            }
        </div>
    </fieldset>
    <ul [class]="{ 'active': visible() }" #optionsList>
        @for(option of options(); let i = $index; track option.value) {
            <li #optionItem [class.active]="i === currentIndex()" [title]="option.name" [ariaValueText]="option.value" (click)="changeInput(option.value)">{{ option.name }}</li>
        }
    </ul>
</div>