<fieldset class="im-select-add" [class.invalid]="error()">
    @if(setLabel()) {
        <legend>{{ setLabel() }}</legend>
    }
    <section>
        <header>
            <strong>Disponibles</strong>
            <div class="input-group input-group-sm">
                <div class="input-group-text">
                    <i class="icofont-filter"></i>
                </div>
                <input class="form-control" type="search" [(ngModel)]="searchA" [placeholder]="setPlaceholder()" />
                <button class="btn btn-sweet-default" type="button" (click)="addAll()" [disabled]="!available().length">
                    <span>Agregar todos</span>
                    <i class="icofont-rounded-right"></i>
                </button>
            </div>
        </header>
        <ul [class]="setSize()">
        @for(option of available(); track option.value) {
            <li>
                <span class="cursor-pointer" (click)="onSelect.emit(option.value)">{{ option.name }}</span>
                <button type="button" (click)="add(option.value)">
                    <i class="icofont-plus"></i>
                </button>
            </li>
        }
        @empty {
            <li class="empty">
                <p>No hay disponibles</p>
            </li>
        }
        </ul>
    </section>
    <section class="add">
        <header>
            <strong>Agregados</strong>
            <div class="input-group input-group-sm">
                <div class="input-group-text">
                    <i class="icofont-filter"></i>
                </div>
                <input class="form-control" type="search" [(ngModel)]="searchB" [placeholder]="setPlaceholder()" />
                <button class="btn btn-sweet-red" type="button" (click)="removeAll()" [disabled]="!added().length">
                    <i class="icofont-rounded-left"></i>
                    <span>Quitar todos</span>
                </button>
            </div>
        </header>
        <ul [class]="setSize()">
        @for(option of added(); track option.value) {
            <li>
                <span class="cursor-pointer" (click)="onSelect.emit(option.value)">{{ option.name }}</span>
                <button type="button" (click)="remove(option.value)">
                    <i class="icofont-close"></i>
                </button>
            </li>
        }
        @empty {
            <li class="empty">
                <p>No hay agregados</p>
            </li>
        }
        </ul>
    </section>
    @if(error()) {
        <span class="message-error">
            <i class="icofont-info-circle"></i>
            <span>{{ error() }}</span>
        </span>
    }
</fieldset>