<form>
    <div class="d-grid">
        <div class="col-span-full">
            <input-panel-text setLabel="Nombre de actividad"/>
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Codigo"/>
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Codigo de actividad"/>
        </div>
        <div class="col-span-full">
            <input-panel-select setLabel="Components"/>
        </div>
        <div class="col-span-full">
            <input-panel-select setLabel="Finalidad consulta"/>
        </div>
        <div class="col-span-full">
            <input-panel-select setLabel="Consulta externa"/>
        </div>
        <div class="col-span-full">
            <input-panel-select setLabel="Finalidad procedimiento"/>
        </div>
        <div class="col-span-6">
            <input-panel-text setType="number" setLabel="Edad minima"/>
        </div>
        <div class="col-span-6">
            <input-panel-text setType="number" setLabel="Edad maxima"/>
        </div>
    </div>
</form>