<form class="d-grid p-3">
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Regimen" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Entidad" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Fecha Inicio" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Fecha final" />
    </div>
    <div class="col-span-1">
        <input-panel-text setSize="sm" setType="number" setLabel="N° Portafolio" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Fecha envio" />
    </div>
</form>