<form class="d-grid p-3 items-end">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Desde"/>
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="hasta"/>
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Facturador" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Entidad" />
    </div>
    <div class="col-span-1">
        <input-panel-select setSize="sm" setLabel="Ambito" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Buscar por" />
    </div>
    <div class="col-span-1">
        <app-button setTitle="Buscar" setSize="sm" setIcon="icofont-search-1" />
    </div>
</form>
