<form class="d-grid items-center">
    <div class="col-span-3">
        <input-readonly setLabel="Primer Apellido" />
    </div>
    <div class="col-span-3">
        <input-readonly setLabel="Segundo Apellido" />
    </div>
    <div class="col-span-3">
        <input-readonly setLabel="Primer Nombre" />
    </div>
    <div class="col-span-3">
        <input-readonly setLabel="Segundo Nombre" />
    </div>
    <div class="col-span-2">
        <input-readonly setLabel="Tipo de coumento" />
    </div>
    <div class="col-span-4">
        <input-readonly setType="number" setLabel="N° Documento" />
    </div>
    <div class="col-span-4">
        <input-readonly setType="date" setLabel="Fecha de nacimiento" />
    </div>
    <div class="col-span-2">
        <input-readonly setLabel="Sexo" />
    </div>
</form>