<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-4">
            <input-text setLabel="Nombre" formControlName="name" [setValidate]="control['name']" #validate />
        </div>
        <div class="col-span-4">
            <input-select setLabel="Ámbito" formControlName="scopeId" [setOptions]="optionsTypeAmbit()" [setValidate]="control['scopeId']" #validate />
        </div>
        <div class="col-span-4">
            <input-select setLabel="Sexo" formControlName="genderId" [setOptions]="optionsGender()" [setValidate]="control['genderId']" #validate />
        </div>
        <div class="col-span-2">
            <input-number setLabel="Número de Camas" formControlName="bedCount" [setValidate]="control['bedCount']" #validate />
        </div>
        <div class="col-span-2">
            <input-text setLabel="Edad Mínima" formControlName="minAge" [setValidate]="control['minAge']" #validate />
        </div>
        <div class="col-span-2">
            <input-text setLabel="Edad Máxima" formControlName="maxAge" [setValidate]="control['maxAge']" #validate />
        </div>
        <div class="col-span-4">
            <input-select setLabel="Centro de Costo" formControlName="costCenterId" [setOptions]="optionsCostCenter()" [setValidate]="control['costCenterId']" #validate />
        </div>
        <div class="col-span-2">
            <input-onoff setLabel="Estado" formControlName="status" />
        </div>
    </div>
</form>