<blade-table [headDivider]="true" [bodyXDivider]="true">
    <ng-container tableActions>
        <tform-physical-therapy />
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Nombre</th>
            <th>N° Identidad</th>
            <th>Edad</th>
            <th>Int Historia</th>
            <th>Int Admision</th>
            <th><i class="icofont-ui-calendar mr-2"></i> Fecha</th>
            <th>Regimen</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>