<blade-table [headDivider]="true">
    <ng-container tableActions>
        <form-table-invoice/>
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Contrato</th>
            <th>Admision</th>
            <th>N° Factura</th>
            <th>Fecha de factura</th>
            <th>Identidad</th>
            <th>Paciente</th>
            <th>Valor factura</th>
            <th>Entrega</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>