<form>
    <div class="d-grid items-center">
        <div class="col-span-4">
            <input-panel-text setLabel="Código de habitación:"></input-panel-text>
        </div>
        <div class="col-span-8">
            <input-panel-text setLabel="Nombre Institución:"></input-panel-text>
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Dirección:"></input-panel-text>
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Teléfono:" setIcon="icofont-ui-call"></input-panel-text>
        </div>
        <div class="col-span-full">
            <input-panel-text setLabel="E-mail:" setIcon="icofont-ui-email"></input-panel-text>
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Departamento:"></input-panel-select>
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Municipio:"></input-panel-select>
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Nivel de complejidad:"></input-panel-select>
        </div>
        <div class="col-span-8">
            <input-panel-select setLabel="Naturaleza Jurídica:"></input-panel-select>
        </div>
    </div>
</form>

<!-- 


        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            <input-panel-text></input-panel-text>
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            <input-panel-text></input-panel-text>
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            
        </div>
        <div class="col-span-2">
            :
        </div>
        <div class="col-span-3">
            <input-panel-select></input-panel-select>
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            <input-panel-text setType="email"></input-panel-text>
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            <input-panel-select></input-panel-select>
        </div>
        <div class="col-span-2">
            
        </div>
        <div class="col-span-3">
            
        </div>
    
 -->