<form>
    <div class="d-grid">
        <div class="col-span-12">
            <input-readonly setLabel="Admitido por" />
        </div>
        <div class="col-span-6">
            <input-readonly setType="date" setLabel="Fecha de admisión" />
        </div>
        <div class="col-span-6">
            <input-readonly setType="datetime-local" setLabel="Fecha elaboración" />
        </div>
        <div class="col-span-12">
            <input-readonly  setLabel="Facturador" />
        </div>
        <div class="col-span-12">
            <input-panel-textarea setLabel="Obseravion" />
        </div>
    </div>
</form>