<form class="d-grid p-3 items-end">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Desde" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="hasta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Tipo de consulta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Profecional" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Regimen" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Empresa" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Contrato" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Ver consulta" />
    </div>
</form>