<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-full">
            <input-text setLabel="Nombre" formControlName="name" [setValidate]="control['name']" #validate  />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Cuenta Contable" formControlName="accountingAccount" [setValidate]="control['accountingAccount']" #validate  />
        </div>
        <div class="col-span-6">
            <input-onoff setLabel="Estado" formControlName="status" />
        </div>
        <div class="col-span-full">
            <input-select setLabel="Área" formControlName="areaId" [setOptions]="optionsArea()" [setValidate]="control['areaId']" #validate  />
        </div>
    </div>
</form>