<blade-table [headDivider]="true" [bodyYDivider]="true">
    <ng-container tableHead>
        <tr>
            <th>head</th>
            <th>head</th>
            <th>head</th>
            <th>head</th>
            <th class="text-end">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>body</td>
            <td>body</td>
            <td>body</td>
            <td>body</td>
            <td class="text-end">
                <app-button setIcon="icofont-info-circle" setSize="sm" />
            </td>
        </tr>
    </ng-container>
</blade-table>