<blade-table [headDivider]="true" [bodyYDivider]="true">
    <ng-container tableHead>
        <tr>
            <th>Nombre</th>
            <th>N° Documento</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Int Historia</th>
            <th>Int Admision</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </ng-container>
</blade-table>