<form [formGroup]="form">
    <div class="grid grid-cols-4 gap-3">
        <div class="col-span-1">
            <input-panel-checkbox setText="Anexo N°1" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Anexo N°3" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="SOAT" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Recien Nacido" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Remicion Recibida" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Historia Clinica" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Historial Servicios" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Historial PyM" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Censo Urgencia" [clean]="true" typeCheck="switch" />
        </div>
        <div class="col-span-1">
            <input-panel-checkbox setText="Censo Hospitaliz.." [clean]="true" typeCheck="switch" />
        </div>
    </div>
</form>