<blade-table tableSize="sm" [bodyXDivider]="true" [headDivider]="true" [bodyYDivider]="true" [activeSearch]="true">
    <ng-container tableCols>
        <col width="200">
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Codigo</th>
            <th>ATC</th>
            <th>Nombre medicamento</th>
            <th>Concentracion</th>
            <th>Forma farmaceutica</th>
            <th>Valor</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
        </tr>
    </ng-container>
</blade-table>
