<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-4">
            <input-panel-text setType="email" setLabel="Correo" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="Responsable" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="N° Responsable" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Parentezco" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Nivel Sisben" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Etnia" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="Talla (cm)" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Ocupacion" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Nombre ocupacion" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Nivel educativo" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Religion" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Grupo sanguineo" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Factor RH:" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Visctima o discapacidad" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Tipo de vulnerabilidad" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Estado del usurio" />
        </div>
    </div>
</form>