<form class="d-grid p-3">
    <div class="col-span-2">
        <input-panel-text setLabel="N° Admision" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="number" setLabel="N° Identidad" />
    </div>
    <div class="col-span-3">
        <input-panel-text setLabel="Nombre" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="date" setLabel="fecha nacimiento" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="Edad" />
    </div>
    <div class="col-span-2">
        <input-panel-select setLabel="Sexo" />
    </div>
    <div class="col-span-2">
        <input-panel-time setType="date" setLabel="Fecha" />
    </div>
    <div class="col-span-1">
        <input-panel-time setType="time" setLabel="Hora" />
    </div>
    <div class="col-span-full mt-3">
        <title-icon-section setIcon="icofont-prescription" setSize="md" setTitle="Signos vitales" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="Peso" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="Talla (cm)" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="number" setLabel="IMC" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="number" setLabel="Area suspencion corporal" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="P.A.S" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="P.A.D" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="P.A.Media" />
    </div>
    <div class="col-span-1">
        <input-panel-text setType="number" setLabel="FC (lat/min)" />
    </div>
    <div class="col-span-full py-3">
        <blade-box-title setTitle="Grascow" theme="light">
            <ng-container boxtitleBody>
                <div class="d-grid">
                    <div class="col-span-2">
                        <input-panel-select setLabel="Respuesta ocular" />
                    </div>
                    <div class="col-span-2">
                        <input-panel-select setLabel="Respuesta Verbal" />
                    </div>
                    <div class="col-span-2">
                        <input-panel-select setLabel="Respuesta Motora" />
                    </div>
                    <div class="col-span-2">
                        <input-panel-text setLabel="Grascow" />
                    </div>
                </div>
            </ng-container>
        </blade-box-title>
    </div>
    <div class="col-span-6">
        <input-panel-textarea setLabel="Motivo de consulta" />
    </div>
    <div class="col-span-6">
        <input-panel-textarea setLabel="Examen fisico" />
    </div>
    <div class="col-span-3">
        <input-panel-select setLabel="Triage" />
    </div>
</form>
