<div class="d-grid">
    <div class="col-span-full mb-2 text-xl">Title main</div>
    <ul class="col-span-full ul-list-row">
        <li>
            <div class="col-span-6">
                <small>Title</small>
                <div>---</div>
            </div>
            <div class="col-span-6">
                <small>Title</small>
                <div>---</div>
            </div>
        </li>
    </ul>
    <div class="col-span-full font-bold"><i class="icofont-settings mr-2"></i> Opciones</div>
    <ul class="col-span-full divide-y">
        <li>
            <block-switch-status [active]="true">Title</block-switch-status>
        </li>
        <li>
            <block-switch-status [active]="true">Title</block-switch-status>
        </li>
    </ul>
</div>