<form class="d-grid">
    <div class="col-span-2">
        <input-panel-text setLabel="N° Admision" />
    </div>
    <div class="col-span-2">
        <input-panel-text setLabel="N° Factura" />
    </div>
    <div class="col-span-2">
        <input-panel-text setLabel="N° Cuenta" />
    </div>
    <div class="col-span-3">
        <input-panel-text setType="date" setLabel="Fecha Factura" />
    </div>
    <div class="col-span-3">
        <input-panel-text setType="date" setLabel="Fecha Emisíon" />
    </div>
    <div class="col-span-3">
        <input-panel-text setLabel="Identidad" />
    </div>
    <div class="col-span-5">
        <input-panel-text setLabel="Nombre del paciente" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="number" setLabel="Edad" />
    </div>
    <div class="col-span-2">
        <input-panel-text setLabel="Vr factura" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="C. Atencion" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="EPS" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="Contrato" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="Tipo de atencion" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="Ambito" />
    </div>
    <div class="col-span-4">
        <input-panel-text setLabel="Pre-autorizacion" />
    </div>
    <div class="col-span-4">
        <input-panel-select setLabel="Autorizacion" />
    </div>
    <div class="col-span-3">
        <input-panel-select setLabel="Poliza" />
    </div>
    <div class="col-span-3">
        <input-panel-time setLabel="Fecha ingreso" setType="date" />
    </div>
    <div class="col-span-2">
        <input-panel-time setLabel="Hora ingreso" setType="time" />
    </div>
    <div class="col-span-2">
        <input-panel-text setLabel="Triage" />
    </div>
    <div class="col-span-3">
        <input-panel-time setLabel="Fecha Triage" setType="date" />
    </div>
    <div class="col-span-2">
        <input-panel-time setLabel="Hora Triage" setType="time" />
    </div>
</form>