<form class="d-grid p-2">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Desde" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Hasta" />
    </div>
    <div class="col-span-3">
        <input-panel-select setSize="sm" setLabel="Regimen" />
    </div>
    <div class="col-span-3">
        <input-panel-select setSize="sm" setLabel="Empresa" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Estado" />
    </div>
    <div class="col-span-3">
        <input-panel-checkbox setSize="sm" setText="Todas las facturas" />
    </div>
    <div class="col-span-3">
        <input-panel-checkbox setSize="sm" setText="facturas abulatorias" />
    </div>
    <div class="col-span-3">
        <input-panel-checkbox setSize="sm" setText="facturas hospitalización" />
    </div>
    <div class="col-span-3">
        <input-panel-checkbox setSize="sm" setText="facturas urgencia" />
    </div>
</form>