<form class="d-grid p-3 items-end">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Desde" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="hasta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Tipo de consulta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Regimen" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Entidad" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="number" setSize="sm" setLabel="N° Folio" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="date" setSize="sm" setLabel="Fecha de envio" />
    </div>
    <div class="col-span-1">
        <app-button setTitle="Buscar" setIcon="icofont-search-1" setSize="sm" />
    </div>
</form>