<form class="block">
    <div class="grid grid-cols-6 items-center gap-3">
        <div class="col-span-2">
            Identidad
        </div>
        <div class="col-span-4">
            <input-panel-text></input-panel-text>
        </div>
        <div class="col-span-2">
            Nombre
        </div>
        <div class="col-span-4">
            <input-panel-text></input-panel-text>
        </div>
        <div class="col-span-2">
            Direccion
        </div>
        <div class="col-span-4">
            <input-panel-text></input-panel-text>
        </div>
        <div class="col-span-2">
            Telefono
        </div>
        <div class="col-span-4">
            <input-panel-text setType="tel"></input-panel-text>
        </div>
        <div class="col-span-2">
            Estado
        </div>
        <div class="col-span-4">
            <input-panel-select setPlaceholder="Seleciona estado"></input-panel-select>
        </div>
    </div>
</form>