<form>
    <div class="d-grid">
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Tipo de Id" />
        </div>
        <div class="col-span-3">
            <input-panel-text [readOnly]="true" setLabel="N° Identidad" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="1er Apellido" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="2do Apellido" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="1er Nombre" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="2er Nombre" />
        </div>
        <div class="col-span-2">
            <input-panel-time [readOnly]="true" setLabel="Fecha nacimiento" />
        </div>
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Edad" />
        </div>
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Sexo" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Pais de nacimiento" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Departamento" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Municipio" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Zona" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Barrio / vereda" />
        </div>
        <div class="col-span-3">
            <input-panel-text [readOnly]="true" setLabel="Direccion" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Pais de recidencia" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Telefono" />
        </div>
    </div>
</form>