<form class="d-grid" [formGroup]="form">
    <div class="col-span-2">
        <input-text setLabel="Código" formControlName="roomCode" [setValidate]="control['roomCode']" #validate />
    </div>
    <div class="col-span-5">
        <input-text setLabel="Nombre" formControlName="name" [setValidate]="control['name']" #validate />
    </div>
    <div class="col-span-5">
        <input-text setLabel="Dirección" formControlName="address" />
    </div>
    <div class="col-span-3">
        <input-text setLabel="Teléfono" setIcon="icofont-ui-call" formControlName="phone" />
    </div>
    <div class="col-span-5">
        <input-text setLabel="Correo" setIcon="icofont-envelope" formControlName="email" />
    </div>
    <div class="col-span-4">
        <input-select-searh setLabel="Departamento" formControlName="departmentId" [setOptions]="optionsDepartment()" [setValidate]="control['departmentId']" #validate />
    </div>
    <div class="col-span-4">
        <input-select-searh setLabel="Municipio" formControlName="municipalityId" [setOptions]="optionsMunicipalies()" [setValidate]="control['municipalityId']" #validate />
    </div>
    <div class="col-span-4">
        <input-select setLabel="Naturaleza Jurídica" formControlName="legalNatureId" [setOptions]="optionsLegalNature()" [setValidate]="control['legalNatureId']" #validate />
    </div>
    <div class="col-span-4">
        <input-select setLabel="Nivel de Complejidad" formControlName="complexityLevelId" [setOptions]="optionsLevelComplexity()" [setValidate]="control['complexityLevelId']" #validate />
    </div>
    <div class="col-span-4">
        <input-select setLabel="Tipo de Remisión" formControlName="referralTypeId" [setOptions]="optionsTypeReferral()" [setValidate]="control['referralTypeId']" #validate />
    </div>
</form>