<blade-table [bodyXDivider]="true" [headDivider]="true">
    <ng-container tableActions>
        <tform-newaudit-diagnosis />
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Fecha</th>
            <th>Fecha salida</th>
            <th>Fecha deseada</th>
            <th>codigo</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Valor</th>
            <th>Autorizacion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>