<form class="d-grid pb-2 px-2">
    <div class="col-span-3">
        <input-panel-select setLabel="Gruipo de soporte" setSize="sm" />
    </div>
    <div class="col-span-3">
        <input-panel-select setLabel="Trazabilidad" setSize="sm" />
    </div>
    <div class="col-span-1">
        <input-panel-checkbox setLabel="estado" setSize="sm" setText="Activo" />
    </div>
    <div class="col-span-3">
        <input-panel-select setLabel="Auditor" setSize="sm" />
    </div>
    <div class="col-span-2">
        <input-panel-text setType="date" setLabel="Fecha" setSize="sm" />
    </div>
</form>