<blade-table [headDivider]="true">
    <ng-container tableActions>
        <form-gloss-validity/>
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Fecha de glosa</th>
            <th>Entidad</th>
            <th>N° Factura</th>
            <th>Fecha factura</th>
            <th>Glosa general</th>
            <th>Glosa especifica</th>
            <th>Paciente</th>
            <th>Valor factura</th>
            <th>Valor glosa</th>
            <th>Fecha envio</th>
            <th>Respuesta glosa</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>