@if(data()) {
    <div class="ui-detail">
        <div class="detail-titles">
            <h2>{{ value().name }}</h2>
        </div>
        <ul class="detail-ul">
            <li>
                <div class="col-span-6">
                    <small>Conceptos Rips</small>
                    <div>{{ value().ripsConceptName }}</div>
                </div>
                <div class="col-span-6">
                    <small>Clasificación de materiales</small>
                    <div>{{ value().classificationName }}</div>
                </div>
            </li>
        </ul>
        <div class="detail-title">
            <i class="icofont-settings"></i>
            <span>Manual Tarifario de materiales</span>
        </div>
        <ul class="detail-items">
            @for (item of value().manualInputMaterials; track index; let index = $index) {
                <li>{{ item.name }}</li>
            }
        </ul>
        <div class="detail-title">
            <i class="icofont-settings"></i>
            <span>Caracteristicas</span>
        </div>
        <ul class="detail-items">
            <li>
                <block-switch-status [active]="value().status">Activo</block-switch-status>
            </li>
            <li>
                <block-switch-status [active]="value().billable">Facturable</block-switch-status>
            </li>
        </ul>
    </div>
} @else {
    <select-some-item />
}