<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-text setLabel="Código" formControlName="code" />
        </div>
        <div class="col-span-5">
            <input-text setLabel="Nombre" formControlName="name" [setValidate]="control['name']" #validate />
        </div>
        <div class="col-span-2">
            <input-text setLabel="Edad Mínima" formControlName="minAge" [setValidate]="control['minAge']" #validate />
        </div>
        <div class="col-span-2">
            <input-text setLabel="Edad Máxima" formControlName="maxAge" [setValidate]="control['maxAge']" #validate />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Sexo" [setOptions]="optionsGenders()" formControlName="genderId" [setValidate]="control['genderId']" #validate />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Capítulo Diagnóstico" [setOptions]="optionsCharters()" formControlName="chapterId" [setValidate]="control['chapterId']" #validate />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Categoría Diagnóstico" [setOptions]="optionsCategories()" formControlName="categoryId" [setValidate]="control['categoryId']" #validate />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Subcategoría Diagnóstico" [setOptions]="optionsSubcategories()" formControlName="subCategoryId" [setValidate]="control['subCategoryId']" #validate />
        </div>
        <div class="col-span-full">
            <blade-panel-options display="flex">
                <ng-container optionsBody>
                    <div class="grow">
                        <input-onoff setLabel="Notificar" formControlName="notify" />
                    </div>
                    <div class="grow">
                        <input-onoff setLabel="Procedimiento" formControlName="procedure" />
                    </div>
                    <div class="grow">
                        <input-onoff setLabel="Hospitalización" formControlName="hospitalization" />
                    </div>
                    <div class="grow">
                        <input-onoff setLabel="Común" formControlName="common" />
                    </div>
                    <div class="grow">
                        <input-onoff setLabel="Vigente" formControlName="active" />
                    </div>
                </ng-container>
            </blade-panel-options>
        </div>
    </div>
</form>