<form [formGroup]="form()">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-panel-text setType="text" setLabel="Codigo" formControlName="code" />
        </div>
        <div class="col-span-5">
            <input-panel-text setType="text" setLabel="Nombre del diagnostico" formControlName="name" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Edad min" formControlName="minAge" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Edad max" formControlName="maxAge" />
        </div>
        <div class="col-span-3">
            <input-panel-select [setOptions]="options()" setLabel="Sexo" formControlName="genderId" />
        </div>
        <div class="col-span-3">
            <input-panel-select [setOptions]="options()" setLabel="Capitulo diagnostico" formControlName="diagnosisChapterId" />
        </div>
        <div class="col-span-3">
            <input-panel-select [setOptions]="options()" setLabel="categoria diagnostico" formControlName="diagnosisCategoryId" />
        </div>
        <div class="col-span-3">
            <input-panel-select [setOptions]="options()" setLabel="subcategoía diagnostico" formControlName="diagnosisSubcategoryId" />
        </div>
        <div class="col-span-full">
            <blade-panel-options display="flex">
                <ng-container optionsBody>
                    <div class="grow">
                        <input-panel-checkbox setSize="sm" [clean]="true" typeCheck="switch" setText="Notificar" formControlName="notify" />
                    </div>
                    <div class="grow">
                        <input-panel-checkbox setSize="sm" [clean]="true" typeCheck="switch" setText="Hospitalizacion" formControlName="hospitalization" />
                    </div>
                    <div class="grow">
                        <input-panel-checkbox setSize="sm" [clean]="true" typeCheck="switch" setText="Común" formControlName="common" />
                    </div>
                    <div class="grow">
                        <input-panel-checkbox setSize="sm" [clean]="true" typeCheck="switch" setText="Vigente" formControlName="active" />
                    </div>
                </ng-container>
            </blade-panel-options>
        </div>
    </div>
</form>