<form>
    <div class="d-grid">
        <div class="col-span-4">
            <input-panel-text setLabel="Codigo"></input-panel-text>
        </div>
        <div class="col-span-8">
            <input-panel-text setLabel="Nombre"></input-panel-text>
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="Posic. Capt"></input-panel-text>
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="Posic. 2193"></input-panel-text>
        </div>
        <div class="col-span-3">
            <input-panel-checkbox setLabel="Es consulta" setText="Activo"></input-panel-checkbox>
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Paquete"></input-panel-select>
        </div>
    </div>
</form>