<form>
    <div class="d-grid mb-3">
        <div class="col-span-3">
            <input-panel-text setLabel="Paciente" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Facturador" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Medico ordena remision" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Servicio que remite" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Servicio al cual es remitido" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Codigo Dx" />
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Nombre Dx" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="datetime-local" setLabel="Fecha y hora de solicitud" />
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Institucion a donde es remitido" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="datetime-local" setLabel="Fecha y hora de aceptacion" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="datetime-local" setLabel="Fecha y hora de salida" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Tipo de traslado" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Medico traslada" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Auxiliar de enfermiria traslada" />
        </div>
    </div>
    <div class="d-grid">
        <div class="col-span-full">
            <title-icon-section setTitle="Ambulancia" setIcon="icofont-ambulance-cross" setLabel="Datos" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Conductor" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Ambulancia" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Nivel del combustible" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Kilometrage de salida" />
        </div>
    </div>
</form>
