<form class="d-grid p-3 items-end">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setLabel="Desde" setType="date" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setLabel="Hasta" setType="date" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Auxiliar de enfermería" setType="date" />
    </div>
    <div class="col-span-1">
        <app-button setTitle="Buscar" setSize="sm" setIcon="icofont-search-1" />
    </div>
</form>