<blade-panel section="audit" titleSection="Glosa por fecha de recibo">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-full">
                <blade-box-panel setTitle="Glosas">
                    <ng-container boxHead>
                        <app-button setTitle="Buscar" setSize="sm" setIcon="icofont-search-1" />
                    </ng-container>
                    <ng-container boxbody>
                        <table-gloss-date-receipt/>
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>