<form [formGroup]="form()">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-panel-text setLabel="Resolucion Dian N°" setType="number" formControlName="resolutionNumber" />
        </div>
        <div class="col-span-3">
            <input-panel-time setLabel="Fecha resolución" setType="date" formControlName="resolutionDate" />
        </div>
        <div class="col-span-3">
            <input-panel-time setLabel="Vigencia Resolución" setType="date" formControlName="resolutionValidity" />
        </div>
        <div class="col-span-3">
            <input-panel-time setLabel="Desde" setType="date" formControlName="startDate" />
        </div>
        <div class="col-span-3">
            <input-panel-time setLabel="Hasta" setType="date" formControlName="endDate" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="Prefijo" setType="text" formControlName="prefix" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="Numero de factura" setType="number" formControlName="invoiceNumber" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="Numero de cuenta de cobro" formControlName="collectionAccountNumber" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="Responsable RIPS" formControlName="ripsResponsible" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="Responsable SOAT" formControlName="soatDelegate" />
        </div>
        <div class="col-span-12">
            <input-panel-textarea setLabel="Pie cuenta de cobro" formControlName="collectionAccountFooter" />
        </div>
        <!--  -->
        <div class="col-span-12 mt-3">
            <title-icon-section setTitle="Parametros basicos" setIcon="icofont-chart-flow" setSize="md" />
        </div>
        <div class="col-span-2">
            <input-panel-text setLabel="N° de dias Estancia pro..." setType="number" formControlName="numberOfDaysStays" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Vigencia formulada" formControlName="formulaValidity" />
        </div>
        <div class="col-span-4">
            <input-panel-checkbox setText="Recibe remiciones" formControlName="receivesRemissions" typeCheck="switch" [clean]="true" />
        </div>
        <div class="col-span-4">
            <input-panel-checkbox setText="Imprimir hojas en ficha de citas" formControlName="printsAppointmentSheets" typeCheck="switch" [clean]="true" />
        </div>
        <div class="col-span-4">
            <input-panel-checkbox setText="Maneja historia clinica" formControlName="handlesClinicalHistory" typeCheck="switch" [clean]="true" />
        </div>
    </div>
</form>