<form class="w-full divide-y *:py-1">
    <div>
        <input-blockcheck setLabel="Primer apellido" />
    </div>
    <div>
        <input-blockcheck setLabel="Segundo apellido" />
    </div>
    <div>
        <input-blockcheck setLabel="Primer nombre" />
    </div>
    <div>
        <input-blockcheck setLabel="Segundo nombre" />
    </div>
    <div>
        <input-blockcheck setLabel="Tipo documento" />
    </div>
    <div>
        <input-blockcheck setLabel="Numero de coumento" />
    </div>
    <div>
        <input-blockcheck setLabel="Fecha de nacimiento" />
    </div>
    <div>
        <input-blockcheck setLabel="Sexo" />
    </div>
</form>