<form [formGroup]="form">
    <div class="d-grid">
        <div class="col-span-4">
            <input-panel-select setLabel="Tipo de usuario" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Entidad" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Contrato" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Departamento" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Muicipio" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Tipo afilicación" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Categoría" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Cobertura en salud" />
        </div>
    </div>
</form>