<div class="flex gap-2">
    <div class="flex-grow">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="12" setColor="red" setTitle="Muy insatisfecho" setIcon="icofont-patient-file" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="flex-grow">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="5" setColor="orange" setTitle="Insatisfecho" setIcon="icofont-patient-bed" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="flex-grow">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="8" setColor="amber" setTitle="Neutral" setIcon="icofont-sign-in" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="flex-grow">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="8" setColor="lime" setTitle="Satisfecho" setIcon="icofont-sign-in" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="flex-grow">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="8" setColor="green" setTitle="Muy satisfecho" setIcon="icofont-sign-in" [setPorcentage]="30" />
            </div>
        </div>
    </div>
</div>