<form [formGroup]="form">
    <div class="d-grid">
        <div class="col-span-4">
            <input-text setLabel="Marca" formControlName="brand" [setValidate]="control['brand']" #validate />
        </div>
        <div class="col-span-8">
            <input-text setLabel="Modelo" formControlName="model" [setValidate]="control['model']" #validate />
        </div>
        <div class="col-span-full">
            <input-select setLabel="Tipo de Vehículo" formControlName="vehicleTypeId" [setOptions]="optionsTypevehicles()" [setValidate]="control['vehicleTypeId']" #validate />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Placa" formControlName="plate" [setValidate]="control['plate']" #validate />
        </div>
        <div class="col-span-6">
            <input-onoff setLabel="Estado" formControlName="status" />
        </div>
        <div class="col-span-full">
            <input-select setLabel="Actividad" formControlName="activityId" [setOptions]="optionsActivity()" [setValidate]="control['activityId']" #validate />
        </div>
        <div class="col-span-12 mb-3">
            <input-textarea setLabel="Descripción" formControlName="description" />
        </div>
    </div>
</form>