<blade-table [headDivider]="true" [bodyYDivider]="true">
    <ng-container tableCols>
        <col width="100">
        <col>
        <col width="100">
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th width="150">Modelo</th>
            <th width="150">Tipo</th>
            <th width="150">Placa</th>
            <th width="250">Descripcion</th>
            <th width="150">Actividad</th>
            <th width="120">Estado</th>
            <th class="text-end" width="120">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(vehicle of vehicles(); track vehicle.id) {
        <tr>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.vehicleType.name }}</td>
            <td>{{ vehicle.licensePlate }}</td>
            <td>{{ vehicle.description }}</td>
            <td>{{ vehicle.activity.name }}</td>
            <td>
                <badge-status [setStatus]="vehicle.status" />
            </td>
            <td class="text-end">
                <app-button setIcon="icofont-ui-edit" setSize="sm" />
            </td>
        </tr>
        }
    </ng-container>
</blade-table>