<blade-table [setData]="dataTable()" [colspan]="7" (onPage)="paginate($event)" [loadingData]="load()">
    <ng-container tableHead>
        <tr>
            <th width="150">Auto</th>
            <th width="100">Placa</th>
            <th width="150">Tipo</th>
            <th width="250">Descripcion</th>
            <th width="160">Actividad</th>
            <th width="80">Estado</th>
            <th class="text-end" width="120">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(entity of entities(); track entity.uuid) {
        <tr TrSelected [idx]="tdSelected()" [id]="entity.uuid">
            <td>
                <p class="uppercase font-bold">{{ entity.brand }}</p>
                <p class="text-sm"><span class="text-gray-400">MODELO:</span> {{ entity.model }}</p>
            </td>
            <td>
                <div class="bg-yellow-200 rounded-md p-1 px-2 font-semibold text-center">
                    {{ entity.plate }}
                </div>
            </td>
            <td>{{ entity.vehicleType.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.activity.name }}</td>
            <td>
                <badge-status [setStatus]="entity.status" />
            </td>
            <td class="text-end">
                <div class="inline-flex gap-2">
                    <btns-action [enableActions]="{ edit: true, delete: true }" [data]="entity" (onBtn)="onBtn($event)" />
                </div>
            </td>
        </tr>
        }
    </ng-container>
</blade-table>