<div class="d-grid-gap-5">
    <div class="col-span-4">
        <div class="flex flex-col gap-3">
            <div class="w-full">
                <blade-box-ui>
                    <general-welcome-info />
                </blade-box-ui>
            </div>
            <div class="w-full">
                <blade-box-ui>
                    <general-chart-doughnut />
                </blade-box-ui>
            </div>
        </div>
    </div>
    <div class="col-span-8">
        <blade-box-ui>
            <general-patients-treated />
        </blade-box-ui>
    </div>
</div>
