<div class="d-grid">
    <div class="col-span-4">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="12" setTitle="Atendidos" setIcon="icofont-patient-file" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="col-span-4">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="5" setColor="orange" setTitle="Internados" setIcon="icofont-patient-bed" [setPorcentage]="30" />
            </div>
        </div>
    </div>
    <div class="col-span-4">
        <div class="ui-card-outline">
            <div class="col-span-full">
                <card-basic-chart [setCounter]="8" setColor="green" setTitle="Dados de alta" setIcon="icofont-sign-in" [setPorcentage]="30" />
            </div>
        </div>
    </div>
</div>
