<form [formGroup]="form" class="space-y-4">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-text setLabel="Nit" setIcon="icofont-ui-v-card" formControlName="taxId" />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Código Entidad" formControlName="code" />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Nombre Entidad" formControlName="name" />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Departamento" [setOptions]="optionsDepartment()" formControlName="departmentId" [emptyValue]="null" />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Municipio" [setOptions]="optionsCities()" formControlName="municipalityId" [emptyValue]="null" />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Dirección administrativa" formControlName="address" />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Dirección radicación" formControlName="filingAddress" />
        </div>
        <div class="col-span-3">
            <input-text setType="tel" setLabel="Teléfono" formControlName="phone" />
        </div>
        <div class="col-span-3">
            <input-text setType="email" setLabel="Correo electrónico" formControlName="email" />
        </div>
        <div class="col-span-3">
            <input-select setLabel="régimen" [setOptions]="optionsRegime()" formControlName="regimeId" [emptyValue]="null" />
        </div>
        <div class="col-span-2">
            <input-number setLabel="Long. autorización" formControlName="authorizationLength" />
        </div>
        <div class="col-span-4">
            <input-text setLabel="Otros datos" formControlName="otherData" />
        </div>
        <div class="col-span-3">
            <input-text setType="email" setLabel="Correo Facturación Electrónica" formControlName="electronicBillingEmail" />
        </div>
        <!-- -->
    </div>
    <div class="block">
        <title-icon-section setTitle="Caracteristicas" setIcon="icofont-ui-check" setSize="sm" />
    </div>
    <div class="d-grid items-end">
        <div class="col-span-4">
            <input-onoff ui="switch" setText="Requiere anexo 2 (atención inicial)" formControlName="requiresAnnex2" />
        </div>
        <div class="col-span-4">
            <input-onoff ui="switch" setText="SOAT" formControlName="soat" />
        </div>
        <div class="col-span-4">
            <input-onoff ui="switch" setText="Activo" formControlName="status" />
        </div>
        <div class="col-span-4">
            <input-onoff ui="switch" setText="Reporte resolución 256" formControlName="reportResolution256" />
        </div>
        <div class="col-span-4">
            <input-onoff ui="switch" setText="Plantilla Resolucion 1552" formControlName="templateResolution1552" />
        </div>
        <!-- -->
    </div>
</form>
