<form [formGroup]="form" class="space-y-4">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-text setLabel="NIT" formControlName="nit" [setValidate]="control['nit']" #validate />
        </div>
        <div class="col-span-3">
            <input-number setLabel="Código" formControlName="code" [setValidate]="control['code']" #validate />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Nombre" formControlName="name" [setValidate]="control['name']" #validate />
        </div>
        <div class="col-span-3">
            <input-select-searh setLabel="Departamento" formControlName="departmentId" [setOptions]="optionsDepartment()" />
        </div>
        <div class="col-span-3">
            <input-select-searh setLabel="Municipio" formControlName="municipalityId" [setOptions]="municipalies()" />
        </div>
        <div class="col-span-6">
            <input-text setLabel="Dirección" formControlName="address" [setValidate]="control['address']" #validate />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Dirección de Radicación" [setValidate]="control['filingAddress']" formControlName="filingAddress" #validate />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Teléfono" formControlName="phone" />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Correo" formControlName="email" />
        </div>
        <div class="col-span-3">
            <input-select setLabel="Régimen" formControlName="regimeId" [setOptions]="optionsRegime()" />
        </div>
        <div class="col-span-2">
            <input-number setLabel="Lon. Autorización" formControlName="authorizationLength" />
        </div>
        <div class="col-span-4">
            <input-text setLabel="Otros Datos" formControlName="otherData" />
        </div>
        <div class="col-span-3">
            <input-text setLabel="Correo Facturación Electrónica" formControlName="electronicBillingEmail" />
        </div>
        <!-- -->
    </div>
    <div class="block">
        <title-icon-section setTitle="Caracteristicas" setIcon="icofont-ui-check" setSize="sm" />
    </div>
    <div class="d-grid items-end">
        <div class="col-span-4">
            <input-onoff setText="Requiere Anexo 2" formControlName="requiresAnnex2" />
        </div>
        <div class="col-span-4">
            <input-onoff setText="SOAT" formControlName="soat" />
        </div>
        <div class="col-span-4">
            <input-onoff setText="Estado" formControlName="status" />
        </div>
        <div class="col-span-4">
            <input-onoff setText="Reporte Resolución 256" formControlName="reportResolution256" />
        </div>
        <div class="col-span-4">
            <input-onoff setText="Plantilla Resolución 1552" formControlName="templateResolution1552" />
        </div>
    </div>
</form>
