<blade-panel section="clinic-history" titleSection="Médico legar - Lesiones personales">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-10">
                <blade-tabs-horizontal [tabsControls]="tabs" #tabReferral setTitle="Title">
                    <ng-container tabsBody>
                        <article bsTabContent [idConnect]="tabs[0].idConnect" [isActive]="tabs[0].active">
                            table
                        </article>
                        <article bsTabContent [idConnect]="tabs[1].idConnect" [isActive]="tabs[1].active">
                            <form-personal-injuries />
                        </article>
                    </ng-container>
                </blade-tabs-horizontal>
            </div>
        </div>
    </ng-container>
</blade-panel>