<form [formGroup]="form()">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-panel-text setLabel="Nombre" formControlName="name" />
        </div>
        <div class="col-span-4">
            <input-panel-select [setOptions]="optionsMedicine()" setLabel="Codigo de medicamento" formControlName="medicationId" />
        </div>
        <div class="col-span-3">
            <input-panel-text setIcon="icofont-dollar" setLabel="Valor" setType="number" formControlName="value" />
        </div>
        <div class="col-span-2">
            <input-panel-checkbox setText="Estado" typeCheck="switch" [clean]="true" formControlName="status" />
        </div>
    </div>
</form>