<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-3">
            <input-text setLabel="Nombre" formControlName="name" />
        </div>
        <div class="col-span-4">
            <input-select-searh [setOptions]="optionsMedicine()" setLabel="Medicamento" formControlName="medicineId" />
        </div>
        <div class="col-span-3">
            <input-text setIcon="icofont-dollar" setLabel="Valor" setType="number" formControlName="value" />
        </div>
        <div class="col-span-2">
            <input-onoff setText="Estado" typeCheck="switch" formControlName="status" />
        </div>
    </div>
</form>