<blade-panel [disabledTools]="true" section="setting" titleSection="IPS">
    <ng-container panels>
        <div class="block">
            <blade-steps>
                <ng-container stepOne>
                    <div class="block">
                        <blade-box-panel setTitle="Datos principales" [padding]="true">
                            <ng-container boxbody>
                                <form-register-ips-one [setForm]="ips()" />
                            </ng-container>
                        </blade-box-panel>
                    </div>
                </ng-container>
                <ng-container stepTwo>
                    <div class="block">
                        <blade-box-panel setTitle="Representates" [padding]="true">
                            <ng-container boxbody>
                                <form-register-ips-two (FormData)="formData($event)" />
                            </ng-container>
                        </blade-box-panel>
                    </div>
                </ng-container>
                <ng-container stepThree>
                    <div class="block mb-5">
                        <blade-box-panel setTitle="Parametros de facturación" [padding]="true" [actionsActive]="true" (actionBar)="barAction($event)">
                            <ng-container boxbody>
                                <form-register-ips-three [setForm]="billingParametersFor()" />
                            </ng-container>
                        </blade-box-panel>
                    </div>
                </ng-container>
            </blade-steps>
        </div>
    </ng-container>
</blade-panel>
