<div class="mb-2">
    <bar-steps [setSteps]="steps" [setActive]="stepActive()" (onStep)="onStep($event)" />
</div>
<form [formGroup]="form">
    <blade-box-collapse idParent="form-patient" #collpase>
        @for ( comp of collapseControl; track comp.idConnect ) {
            <blade-collapse-block
                idParent="form-patient"
                [idConnect]="comp.idConnect"
                [setTitle]="comp.label"
                [setIcon]="comp.icon"
                [isActive]="comp.active"
                setTitleSize="sm"
                (onCollapse)="onCollapse($event)"
            >
                @switch (comp.idConnect) {
                    @case ("collapse-one") {
                        <div class="d-grid items-end mb-2">
                            <div class="col-span-2">
                                <input-text setLabel="Código" formControlName="code" />
                            </div>
                            <div class="col-span-4">
                                <input-text setLabel="Nombre de contrato" formControlName="contractName" />
                            </div>
                            <div class="col-span-3">
                                <input-number setLabel="Numero de contrato" formControlName="contractNumber" />
                            </div>
                            <div class="col-span-3">
                                <input-select setLabel="Modalidad" [setOptions]="optionsModality()" [emptyValue]="null" formControlName="modalityId" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Regimen" [setOptions]="optionsRegimen()" [emptyValue]="null" formControlName="regimeId" />
                            </div>
                            <div class="col-span-4">
                                <input-number setType="number" setLabel="Vr. U.P.C" formControlName="upc" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Entidad Administradora" [emptyValue]="null" [setOptions]="optionsAdminEntities()" formControlName="administratorEntitiesId" />
                            </div>
                            <div class="col-span-3">
                                <input-date setLabel="Fecha de inicio" setType="date" formControlName="startDate" />
                            </div>
                            <div class="col-span-3">
                                <input-date setLabel="Fecha final" setType="date" formControlName="endDate" />
                            </div>
                            <div class="col-span-3">
                                <input-number setType="number" setLabel="N° usuarios adicionales" formControlName="additionalUsersNumber" />
                            </div>
                            <div class="col-span-3">
                                <input-number setType="number" setLabel="Valor contrato" formControlName="upc" />
                            </div>
                            <div class="col-span-6">
                                <input-textarea setIcon="icofont-pencil-alt-5" setLabel="Concepto Cuenta cobro factura"  formControlName="invoiceAccount" [setRow]="2" />
                            </div>
                            <div class="col-span-6">
                                <input-textarea setIcon="icofont-pencil-alt-5" setLabel="Observacion"  formControlName="observation" [setRow]="2" />
                            </div>
                        </div>
                    }
                    @case ("collapse-two") {
                        <div class="d-grid">
                            <div class="col-span-4">
                                <input-select setLabel="Tipo de pago moderado" [emptyValue]="null" [setOptions]="optionsTypeModeratePayment()" formControlName="moderatePaymentTypeId" />
                            </div>
                            <div class="col-span-4">
                                <input-onoff setLabel="Facturación grupal" [setText]="onoffText" typeCheck="switch" formControlName="outpatientAuthorization" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Plan de beneficios" [emptyValue]="null" [setOptions]="optionsBeneficies()" formControlName="benefitPlanId" />
                            </div>
                            <div class="col-span-4">
                                <input-onoff setLabel="Verificación de derechos" [setText]="onoffText" typeCheck="switch" formControlName="rightsVerification" />
                            </div>
                            <div class="col-span-4">
                                <input-onoff setLabel="Autorización Ambulatorio" [setText]="onoffText" typeCheck="switch" formControlName="outpatientAuthorization" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Nivel de observación" [emptyValue]="null" [setOptions]="optionsLevel()" formControlName="levelId" />
                            </div>
                            <div class="col-span-4">
                                <input-onoff setLabel="Autorización Hospitalización" [setText]="onoffText" typeCheck="switch" formControlName="hospitalizationAuthorization" />
                            </div>
                            <div class="col-span-2">
                                <input-onoff setLabel="Soat" [setText]="onoffText" typeCheck="switch" formControlName="soat" />
                            </div>
                            <div class="col-span-2">
                                <input-onoff typeCheck="switch" setLabel="Copago" [setText]="onoffText" formControlName="copayment" />
                            </div>
                            <div class="col-span-4">
                                <input-onoff setLabel="Autorización Urgencia" [setText]="onoffText" typeCheck="switch" formControlName="emergencyAuthorization" />
                            </div>
                        </div>
                    }
                    @case ("collapse-three") {
                        <div class="d-grid">
                            <div class="col-span-4">
                                <input-select setLabel="Manual Tarifarío" [emptyValue]="null" [setOptions]="optionstariffManual()" formControlName="tariffManualId" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Tarifa traslado" [emptyValue]="null" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Tarifa medicamento" [emptyValue]="null" [setOptions]="optionsTariffMedicine()" formControlName="medicationTariffId" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Tarifa oxigeno" [emptyValue]="null" [setOptions]="optionsOxigenRate()" />
                            </div>
                            <div class="col-span-4">
                                <input-select setLabel="Tarifa materiales" [emptyValue]="null" />
                            </div>
                        </div>
                    }
                }
            </blade-collapse-block>
        }
    </blade-box-collapse>
</form>
