<div class="flex items-center mb-3 font-semibold text-gray-600">
    <i class="icofont-hospital text-4xl mr-3 text-cyan-600"></i>
    <div class="ml-2">
        <h1 class="text-3xl">Clinica Sur marina</h1>
        <div>Bienvenido</div>
    </div>
</div>
<div class="d-grid">
    <div class="col-span-full">
        <card-basic-text setIcon="icofont-home" setTitle="Dirección" setText="Calle 22 Kr 15 80-99"></card-basic-text>
    </div>
    <div class="col-span-full">
        <card-basic-text setColor="orange" setIcon="icofont-phone-circle" setTitle="Numeros de emergencia" setText="(300)-2938485 - (300)-2938485"></card-basic-text>
    </div>
</div>