<blade-table [headDivider]="true" [bodyYDivider]="true" [ActiveLoad]="true" [load]="load()">
    <ng-container tableHead>
        <tr>
            <th>Interno</th>
            <th>Fecha</th>
            <th>Jornada</th>
            <th>Horas</th>
            <th>N° Cita</th>
            <th>Agenda</th>
            <th class="text-end">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(item of dataTable(); track item.id) {
            <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td class="text-end">
                    <app-button setIcon="icofont-info-circle" setSize="sm" (action)="emit(item)" />
                </td>
            </tr>
        }
    </ng-container>
</blade-table>