<blade-table [headDivider]="true" [bodyYDivider]="true">
    <ng-container tableHead>
        <tr>
            <th>Identidad</th>
            <th>Fecha facturacion</th>
            <th>Valor unitarío</th>
            <th>Valor Total</th>
            <th>Peso</th>
            <th>Talla</th>
            <th>Dosis</th>
            <th>Nombre de usuario</th>
            <th class="text-end">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(item of dataTable(); track item.id) {
            <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td class="text-end">
                    <app-button setIcon="icofont-info-circle" setSize="sm" (action)="emit(item)" />
                </td>
            </tr>
        }
    </ng-container>
</blade-table>