@if(data()) {
<div class="ui-detail">
    <div class="detail-titles">
        <h2>{{ value().name }}</h2>
        <ul>
            <li><b>Código:</b> {{ value().code }}</li>
        </ul>
    </div>
    <ul class="detail-ul">
        <li>
            <div class="col-span-4">
                <small>Sexo</small>
                <div>{{ value().gender }}</div>
            </div>
            <div class="col-span-2">
                <small>Edad min</small>
                <div>{{ value().minAge }}</div>
            </div>
            <div class="col-span-2">
                <small>Edad max</small>
                <div>{{ value().maxAge }}</div>
            </div>
            <div class="col-span-4">
                <small>Componente</small>
                <div>{{ value().component }}</div>
            </div>
        </li>
        <li>
            <div class="col-span-6">
                <small>Finalidad consulta</small>
                <div>{{ value().consultationPurpose }}</div>
            </div>
            <div class="col-span-6">
                <small>Causa externa</small>
                <div>{{ value().externalCause }}</div>
            </div>
        </li>
    </ul>
</div>
} @else {
    <select-some-item />
}