<blade-table [setData]="dataTable()" [colspan]="4" (onPage)="paginate($event)" [loadingData]="load()">
    <ng-container tableHead>
        <tr>
            <th>Nombre</th>
            <th>Tipo de servicio</th>
            <th>Grupo Soat</th>
            <th width="120" class="text-end">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(entity of entities(); track entity.id) {
            <tr TrSelected [idx]="tdSelected()" [id]="entity.id">
                <td>{{ entity.name }}</td>
                <td>{{ entity.serviceType.name }}</td>
                <td>{{ entity.soatGroup.name }}</td>
                <td class="text-end">
                    <div class="inline-flex gap-2">
                        <btns-action [enableActions]="{ edit: true, delete: true }" [data]="entity" (onBtn)="onBtn($event)" />
                    </div>
                </td>
            </tr>
        }
    </ng-container>
</blade-table>