<blade-table [headDivider]="true">
    <ng-container tableActions>
        <form-encode-query></form-encode-query>
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Interno</th>
            <th>Fecha</th>
            <th>N° Identidad</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Presta servicio</th>
            <th>Consulta</th>
            <th>Dx.</th>
            <th>Nombre diagnostico</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>