<blade-panel section="clinic-history" titleSection="Terapia ocupacional">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8">
                <blade-box-panel setTitle="Terapias">
                    <ng-container boxbody>
                        <table-occupational-therapy />
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Paciente">
                    <ng-container boxbody>
                        <div class="p-5">
                            <panel-patient-profile />
                        </div>
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>