<form [formGroup]="form">
    <div class="d-grid items-end">
        <div class="col-span-4">
            <input-panel-select setLabel="Tipo TI" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="N° Identidad" />
        </div>
        <div class="col-span-4">
            <input-panel-text setLabel="Expedidad" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="1er Nombre" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="2do Nombre" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="1er Apellido" />
        </div>
        <div class="col-span-3">
            <input-panel-text setLabel="2do Apellido" />
        </div>
        <div class="col-span-3">
            <input-panel-time setType="date" setLabel="Fecha nacimiento" />
        </div>
        <div class="col-span-2">
            <input-panel-text setType="number" setLabel="Edad" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Sexo" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="nacionalidad" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Departamento" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Zona" />
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Barrio o vereda" />
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Direccion" />
        </div>
        <div class="col-span-3">
            <input-panel-text setType="tel" setLabel="Telefono" />
        </div>
        <div class="col-span-3">
            <input-panel-text setType="tel" setLabel="N° De Historia" />
        </div>
    </div>
</form>