<form>
    <div class="grid grid-cols-12 gap-x-3 gap-y-1 mb-3">
        <div class="col-span-3">
            <input-panel-text setLabel="Código"></input-panel-text>
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Nombre manual"></input-panel-text>
        </div>
        <div class="col-span-3">
            <input-panel-checkbox setLabel="Estado" setText="Activo"></input-panel-checkbox>
        </div>
        <div class="col-span-6">
            <input-panel-text setLabel="Manual tarifario"></input-panel-text>
        </div>
        <div class="col-span-2">
            <input-panel-text setLabel="Porcentage"></input-panel-text>
        </div>
        <div class="col-span-4">
            <input-panel-select setLabel="Nivel" setPlaceholder="Selecciona nivel"></input-panel-select>
        </div>
    </div>
    <div>
        <list-tranfer setLabel="Tipo de servicios" setPlaceholder="d"></list-tranfer>
    </div>
</form>