<section class="flex flex-wrap h-screen bg-gradient-to-r from-blue-700 to-blue-500 w-full">
    <div class="w-[80%] ml-[30%] rounded-l-[2rem] flex items-center self-stretch bg-blue-200 bg-cover bg-no-repeat" style="background-image: url('assets/img/ui/bg-login.jpg');">
        <div class="block">
            <main class="flex flex-wrap flex-col w-[550px] shadow-lg rounded-[2rem] ml-[-50%] lg:h-[80vh] bg-white">
                <div class="grow px-[6rem] w-full flex items-center">
                    <ng-content select="[body]"></ng-content>
                </div>
                <div class="self-end w-full text-gray-400 p-4 py-8 text-center text-sm">CopyRight© Todos Derechos reservados 2023</div>
            </main>
        </div>
    </div>
</section>