<form>
    <div class="d-grid">
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Tipo de Id" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="N° Identidad" />
        </div>
        <div class="col-span-4">
            <input-panel-text [readOnly]="true" setLabel="Nombre completo" />
        </div>
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Edad" />
        </div>
        <div class="col-span-3">
            <input-panel-text [readOnly]="true" setLabel="Centro de atención" />
        </div>
        <div class="col-span-3">
            <input-panel-text [readOnly]="true" setLabel="Ambito" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setIcon="icofont-ui-calendar" setLabel="Fecha de ingreso" />
        </div>
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Hora de ingreso" />
        </div>
        <div class="col-span-1">
            <input-panel-text [readOnly]="true" setLabel="Hora de Egreso" />
        </div>
        <div class="col-span-2">
            <input-panel-text [readOnly]="true" setLabel="Estado" />
        </div>
        <div class="col-span-3">
            <input-panel-text [readOnly]="true" setLabel="Via Ingreso" />
        </div>
        <div class="col-span-4">
            <input-panel-text [readOnly]="true" setLabel="Modalidad de atención" />
        </div>
    </div>
</form>