<blade-table [headDivider]="true">
    <ng-container tableActions>
        <tform-pending-glosses />
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Fecha Glosa</th>
            <th>Contrato</th>
            <th>N° cuenta</th>
            <th>N° factura</th>
            <th>Fecha Factura</th>
            <th>Ambito</th>
            <th>Glosa general</th>
            <th>Glosa especifica</th>
            <th>Servicio</th>
            <th>Valor factura</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
    </ng-container>
</blade-table>