@if(data()) {
    <div class="ui-detail">
        <div class="detail-titles">
            <h2>{{ value().name }}</h2>
            <ul>
                <li><b>text:</b> queso</li>
            </ul>
        </div>
        <ul class="detail-ul">
            <li>
                <div class="col-span-3">
                    <small>Edad min</small>
                    <div>{{ value().minAge }}</div>
                </div>
                <div class="col-span-3">
                    <small>Edad max</small>
                    <div>{{ value().maxAge }}</div>
                </div>
            </li>
        </ul>
        <div class="detail-title">
            <i class="icofont-settings"></i>
            <span>Tipo de hisotria</span>
        </div>
    </div>
}