<blade-panel>
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8">
                <blade-box-panel setTitle="Recibos">
                    <ng-container boxbody>
                        <cash-receipt-table />
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Recibo">
                    <ng-container boxbody>
                        <cash-receipt-detail />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>