/* nav tab menu controller */
.nav-tabs-controller {
    @apply relative w-full px-3 bg-[var(--color-700)] block;
    &::before,
    &::after {
        @apply left-0 absolute top-full w-[14px] h-[14px];
    }
    &::before {
        content: '';
        @apply bg-[var(--color-700)];
    }
    &::after {
        content: '';
        @apply bg-default-50 rounded-tl-full;
    }
    .ul-tab-controller {
        @apply flex flex-wrap flex-row pt-1 space-x-1;
    }
    .li-tab-controller {
        @apply flex;
        .li-body {
            @apply block pb-1;
        }
    }
    .btns-tab-group {
        @apply flex bg-[var(--color-500)] hover:bg-[var(--color-400)];
        button {
            @apply text-white;
        }
    }
    .btn-tab-controller {
        @apply grow px-2 py-[5px] min-w-[200px];
    }
    .btn-tab-action {
        @apply flex hover:shadow-sm items-center h-full w-auto px-3 hover:bg-[var(--color-300)] hover:bg-opacity-30 active:bg-opacity-50 rounded-md text-white;
    }
    .btn-tab-add {
        @apply flex items-center px-3 h-[34px] rounded-md hover:bg-[var(--color-600)] transition-colors text-white;
    }
}

/* active */
.nav-tabs-controller {
    .li-tab-controller.active {
        .li-body {
            @apply bg-[var(--color-50)];
        }
        .btns-tab-group {
            background-color: transparent !important;
        }
        .btns-tab-group button {
            @apply text-[var(--color-500)];
        }
    }
}

/* tab-plus  */
.li-tab-controller.tab-plus {
    @apply self-stretch pb-1 rounded-t-md;
    &.active {
        @apply bg-[var(--color-50)];
        .btn-tab-add {
            @apply text-[var(--color-400)] bg-transparent hover:bg-transparent;
        }
    }
}

.dark-mode .nav-tabs-controller {
    .li-tab-controller.tab-plus.active,
    &::after {
        @apply bg-[var(--darkmode-800)];
    }
    .li-tab-controller.active {
        .li-body {
            @apply bg-[var(--darkmode-800)];
        }
        .btns-tab-group button {
            @apply text-[var(--color-400)];
        }
    }

}