<form [formGroup]="form">
    <div class="d-grid">
        <div class="col-span-3">
            <input-panel-select setLabel="Cobertura en salud" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Origen de atencion" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Tipo de servicios solicitados" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Prioridad de atención" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Ubicación de la atención" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Servicio" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Cama" />
        </div>
        <div class="col-span-2">
            <input-panel-time setType="date" setLabel="Fecha ingreso" />
        </div>
        <div class="col-span-2">
            <input-panel-time setType="date" setLabel="Fecha egreso" />
        </div>
        <div class="col-span-1">
            <input-panel-text setType="number" setLabel="Dias estancia" />
        </div>
    </div>
</form>