<form class="d-grid p-3 items-end">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setLabel="Regimen" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Entidad" />
    </div>
    <div class="col-span-2">
        <input-panel-checkbox setSize="sm" setLabel="Estado del contrato" [clean]="true" setText="Acivo" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Tipo de contrato" />
    </div>
    <div class="col-span-3">
        <input-panel-select setSize="sm" setLabel="Contrato" />
    </div>
    <div class="col-span-1">
        <input-panel-text setSize="sm" setType="number" setLabel="N° de cuenta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Glosa general" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Glosa especifica" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Servicio" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Ambito" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Fecha glosa" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="number" setLabel="Valor" />
    </div>
</form>