<blade-table [colspan]="6" [setData]="data()" [loadingData]="load()" (onPage)="paginate($event)">
    <ng-container tableHead>
        <tr>
            <th>Nombre</th>
            <th>Ambito</th>
            <th width="280">Sexo</th>
            <th>N° de camas</th>
            <th width="200" class="text-end">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(entity of list(); track entity.id; let idx = $index) {
        <tr  TrSelected [idx]="tdSelected()" [id]="entity.id">
            <td>{{ entity.name }}</td>
            <td>{{ entity.scope.name }}</td>
            <td>
                <p>{{ entity.gender.name }}</p>
                <small class="text-gray-400">Edad min: {{ entity.minAge }} ~ max: {{ entity.maxAge }}</small>
            </td>
            <td>{{ entity.bedCount }}</td>
            <td class="text-end">
                <app-button setIcon="icofont-info-circle" setSize="sm" (action)="emit(entity)" />
            </td>
        </tr>
        }
    </ng-container>
</blade-table>