<form>
    <div class="d-grid">
        <div class="col-span-6">
            <input-panel-text setLabel="Codigo"/>
        </div>
        <div class="col-span-6">
            <input-panel-select setLabel="Ciudad"/>
        </div>
        <div class="col-span-full">
            <input-panel-text setLabel="Codigo de tralado"/>
        </div>
        <div class="col-span-4">
            <input-panel-text setType="number" setLabel="N° Km"/>
        </div>
        <div class="col-span-4">
            <input-panel-text setType="number" setLabel="Valor Km"/>
        </div>
        <div class="col-span-4">
            <input-panel-text setType="number" setLabel="Valor Amb."/>
        </div>
        <div class="col-span-full">
            <input-panel-select setLabel="Tipo de traslado"/>
        </div>
    </div>
</form>