@if(data()) {
<div class="d-grid">
    <div class="col-span-full mb-2">
        <h2 class="text-xl">{{ value().name }}</h2>
        <p class="text-gray-500">{{ value().code }}</p>
    </div>
    <ul class="col-span-full ul-list-row">
        <li>
            <div class="col-span-4">
                <small>Tipo de medicamento</small>
                <div>{{ value().medicineTypeName }}</div>
            </div>
            <div class="col-span-3">
                <small>atc</small>
                <div>{{ value().atc }}</div>
            </div>
            <div class="col-span-5">
                <small>Unidad de referencia</small>
                <div>{{ value().referenceUnit }}</div>
            </div>
        </li>
        <li>
            <div class="col-span-6">
                <small>Otro nombre</small>
                <div>{{ value().otherName }}</div>
            </div>
            <div class="col-span-6">
                <small>Concentracion</small>
                <div>{{ value().concentration }}</div>
            </div>
        </li>
    </ul>
    <div class="col-span-full font-bold"><i class="icofont-settings mr-2"></i> Cum</div>
    <ul class="col-span-full ul-list-row">
        <li>
            <div class="col-span-full">
                <div>{{ value().cumName }}</div>
            </div>
        </li>
        <li>
            <div class="col-span-6">
                <small>Costo</small>
                <div>{{ value().cumCons }}</div>
            </div>
            <div class="col-span-6">
                <small>Cun</small>
                <div>{{ value().cum }}</div>
            </div>
        </li>
    </ul>
    <div class="col-span-full font-bold"><i class="icofont-settings mr-2"></i> Opciones</div>
    <ul class="col-span-full divide-y">
        <li>
            <block-switch-status>Queso</block-switch-status>
        </li>
        <li>
            <block-switch-status>Queso</block-switch-status>
        </li>
    </ul>
    <div class="col-span-full font-bold"><i class="icofont-warning-alt"></i> Descripcion y advertencia</div>
    <ul class="col-span-full ul-list-row">
        <li>
            <div class="col-span-full">
                <small>Efectos adversos</small>
                <div>{{ value().adverseEffect }}</div>
            </div>
        </li>
        <li>
            <div class="col-span-6">
                <small>Contraindicaciones</small>
                <div>{{ value().contraindications }}</div>
            </div>
            <div class="col-span-6">
                <small>Interaccion incompatibilidad</small>
                <div>{{ value().interactionIncompatibility }}</div>
            </div>
        </li>
    </ul>
</div>
} @else {
    <select-some-item />
}