<blade-panel section="audit" titleSection="Facturas">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8">
                <blade-box-panel setTitle="Soportes">
                    <ng-container boxbody>
                        <table-invoice-support />
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Grupos">
                    <ng-container boxbody>
                        <list-search />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>