<blade-table [headDivider]="true" [bodyYDivider]="true">
    <ng-container tableHead>
        <tr>
            <th>Nombre centro de costo</th>
            <th>Cuenta contable</th>
            <th>Area</th>
            <th>Estado</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(cost of list(); track cost.id) {
            <tr>
                <td>{{ cost.name }}</td>
                <td>{{ cost.accountingAccount }}</td>
                <td>{{ cost.area?.name }}</td>
                <td>
                    <badge-status [setStatus]="cost.status" />
                </td>
            </tr>
        }
    </ng-container>
</blade-table>