<div class="block" [class]="[tableRounded()]">
    <table class="im-table" [class]="[hdivider(), size(), bxdivider(), bydivider(), trHover()]">
        <thead class="sticky top-0">
            <ng-content select="[tableHead]" />
        </thead>
        <tbody>
            @if(items().length > 0) {
                <ng-content select="[tableBody]" />
            }
            @else {
                <tr>
                    <td [attr.colspan]="colspan()">
                        <div class="block p-2 text-center">
                            <div class="block w-full border rounded-md bg-[var(--color-50)] border-dashed p-3 text-[var(--color-400)]">
                                <i class="icofont-document-folder text-4xl"></i>
                                <p class="text-sm">Sin elementos</p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>