<form class="d-grid">
    <div class="col-span-full">
        <input-panel-text setLabel="Paciente" />
    </div>
    <div class="col-span-6">
        <input-panel-text setLabel="N° de identidad" />
    </div>
    <div class="col-span-3">
        <input-panel-text setLabel="Edad" setType="number" />
    </div>
    <div class="col-span-3">
        <input-panel-select setLabel="Sexo" />
    </div>
    <div class="col-span-5">
        <input-panel-time setType="date" setLabel="Fecha de ingreso" />
    </div>
    <div class="col-span-3">
        <input-panel-time setType="time" setLabel="Hora de ingreso" />
    </div>
    <div class="col-span-4">
        <input-panel-text setLabel="N° Hospitalizacion" setType="number" />
    </div>
    <div class="col-span-4">
        <input-panel-text setLabel="N° Admisión" setType="number" />
    </div>
    <div class="col-span-5">
        <input-panel-select setLabel="Via de ingreso" />
    </div>
    <div class="col-span-3">
        <input-panel-text setLabel="Dias de estancia" setType="number" />
    </div>
    <div class="col-span-full">
        <input-panel-text setLabel="Nombre del diagnostico" setType="number" />
    </div>
    <div class="col-span-full">
        <input-panel-select setLabel="Entidad responsable" />
    </div>
</form>