<blade-panel>
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-4">
                <blade-box-panel [padding]="true">
                    <ng-container boxbody>
                        <form-transfer-fee/>
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-8">
                <blade-box-panel>
                    <ng-container boxbody>
                        <table-transfer-fee/>
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>