<blade-table [headDivider]="true" [bodyXDivider]="true">
    <ng-container tableActions>
        <tform-hospitalization />
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>Paciente</th>
            <th>N° Identidad</th>
            <th>Fecha y hora<br>de ingreso</th>
            <th>Via de ingreso</th>
            <th>Entidad resp.</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </ng-container>
</blade-table>