<div class="block" [class]="[tableRounded()]">
    @if(loadingData()) {
        <div class="loader-progress"></div>
    }
    @if(!hiddeHeader()) {
        <div class="block border-b">
            <ng-content select="[tableActions]" />
        </div>
    }
    <table class="im-table" [class]="[hdivider(), size(), bxdivider(), bydivider(), trHover()]">
        <thead class="sticky top-0">
            <ng-content select="[tableHead]" />
        </thead>
        <tbody>
            @if(loadContent()) {
                <ng-content select="[tableBody]" />
            }
            @else {
                <tr>
                    <td [attr.colspan]="colspan()">
                        <p class="text-center">Bacio</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(setData()) {
        <panel-paginate [setPage]="setData()" (onPage)="onPage.emit($event)" />
    }
</div>