<div class="block" [class]="[tableRounded()]">
    @if(loadingData()) {
        <div class="loader-progress"></div>
    }
    @if(!hiddeHeader()) {
        <div class="block border-b">
            <ng-content select="[tableActions]" />
        </div>
    }
    <table class="im-table" [class]="[hdivider(), size(), bxdivider(), bydivider(), trHover()]">
        <thead class="sticky top-0">
            <ng-content select="[tableHead]" />
        </thead>
        <tbody>
            @if(loadContent()) {
                <ng-content select="[tableBody]" />
            }
            @else {
                <tr>
                    <td [attr.colspan]="colspan()">
                        <div class="block p-2 text-center">
                            <div class="block w-full border rounded-md bg-[var(--color-50)] border-dashed p-3 text-[var(--color-400)]">
                                <i class="icofont-document-folder text-4xl"></i>
                                <p class="text-sm">Sin resultados</p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(setData()) {
        <div class="block p-4 border-t">
            <panel-paginate [setPage]="setData()" (onPage)="onPage.emit($event)" />
        </div>
    }
</div>