<form [formGroup]="form">
    <div class="d-grid">
        <div class="col-span-3">
            <input-panel-select setLabel="Centro de atención" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Regimen" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="EPS" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Contrato" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Ambito" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Programa" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Tipo de servicio" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Servicio" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Nombre del servicio" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Finalidad cons..." />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Causa externa" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Finalidad procedimiento" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Diagnostico" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Tipo diagnostico" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Dosis" />
        </div>
        <div class="col-span-2">
            <input-panel-select setLabel="Servicio de atencion" />
        </div>
        <div class="col-span-3">
            <input-panel-select setLabel="Prestacion de servicio" />
        </div>
    </div>
</form>