<form [formGroup]="form">
    <div class="d-grid">
        <div class="col-span-5">
            <input-text [setValidate]="control['name']" setLabel="Nombre" formControlName="name" #validate />
        </div>
        <div class="col-span-2">
            <input-number [setValidate]="control['opportunityDays']" setLabel="Días de Oportunidad" formControlName="opportunityDays" #validate />
        </div>
        <div class="col-span-2">
            <input-number [setValidate]="control['opportunityDays']" setLabel="Código Indicador" formControlName="indicatorCode" #validate />
        </div>
        <div class="col-span-3">
            <input-select [setValidate]="control['serviceLevelId']" setLabel="Nivel de Servicio" [setOptions]="serviceLevOptions()" formControlName="serviceLevelId" #validate />
        </div>
        <div class="col-span-3">
            <input-select [setValidate]="control['historyTypeId']" setLabel="Tipo de Historia" [setOptions]="typeHistoryOptions()" formControlName="historyTypeId" #validate />
        </div>
        <div class="col-span-3">
            <input-select [setValidate]="control['serviceTypeId']" setLabel="Tipo de Servicio" [setOptions]="typeServiceOptions()" formControlName="serviceTypeId" #validate />
        </div>
        <div class="col-span-full mt-4">
            <blade-panel-options>
                <ng-container optionsBody>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Médico" formControlName="doctor" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Especialistas" formControlName="specialists" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Citas" formControlName="appointments" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Recibir" formControlName="receive" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Consultas" formControlName="consultations" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Institución Activa" formControlName="institutionActive" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Cirugía" formControlName="surgery" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Medicamentos" formControlName="medicines" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Otros Servicios" formControlName="otherServices" />
                    </div>
                    <div class="col-span-3">
                        <input-onoff ui="switch" setText="Procedimientos" formControlName="procedures" />
                    </div>
                </ng-container>
            </blade-panel-options>
        </div>
    </div>
</form>