<blade-panel titleSection="Instituciones" section="setting">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8">
                <blade-tabs-horizontal [tabsControls]="tabs" setTitle="Instituciones" #tabControlle>
                    <ng-container tabsBody>
                        <article bsTabContent [idConnect]="tabs[0].idConnect" [isActive]="tabs[0].active">
                            <blade-box-panel [headerActive]="false" [padding]="true" [actionsActive]="true" (actionBar)="barAction($event)" ui="clean">
                                <ng-container boxbody>
                                    <form-institutions [setForm]="form" />
                                </ng-container>
                            </blade-box-panel>
                        </article>
                        <article bsTabContent [idConnect]="tabs[1].idConnect" [isActive]="tabs[1].active">
                            <table-institutions />
                        </article>
                    </ng-container>
                </blade-tabs-horizontal>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Institucion" [padding]="true">
                    <ng-container boxbody>
                        <tdetail-institutions />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>

<app-note>
    <ng-container noteBody>
# get lista
[] no hace la consulta
    </ng-container>
</app-note>