<blade-panel section="clinic-history" titleSection="Hopitalización">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-5">
                <blade-box-panel setTitle="Nuevo" [padding]="true">
                    <ng-container boxbody>
                        <form-hospitalization />
                    </ng-container>
                </blade-box-panel>
            </div>
            <div class="col-span-7">
                <blade-box-panel setTitle="Hopitalización">
                    <ng-container boxbody>
                        <table-hospitalization />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>