<blade-panel section="setting" titleSection="Eventos adversos">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-6">
                <div class="mb-3">
                <blade-box-panel setTitle="Nuevo evento" [padding]="true" [actionsActive]="true"  (actionBar)="barAction($event)" >
                        <ng-container boxbody>
                            <form-adverse-events #formCreate />
                        </ng-container>
                    </blade-box-panel>
                </div>
                <div class="mb-3">
                    <blade-box-panel setTitle="Eventos">
                        <ng-container boxbody>
                            <table-adverse-events (onTable)="onTable($event)" #table />
                        </ng-container>
                    </blade-box-panel>
                </div>
            </div>
        </div>
    </ng-container>
</blade-panel>

<blade-dialog idConnect="vehicle-update" setSize="md" [hideFooter]="true" [activeFade]="false" #dialogUpdate>
    <ng-container dialogHeader>
        <card-basic-text setTitle="Actualizar Eventos" />
    </ng-container>
    <ng-container dialogBody>
        <blade-box-panel ui="clean" [padding]="true" [actionsActive]="true" [setActionsBar]="actionsUpdate" [headerActive]="false" (actionBar)="barAction($event)">
            <ng-container boxbody>
                <form-adverse-events #formUpdate/>
            </ng-container>
        </blade-box-panel>
    </ng-container>
</blade-dialog>