<blade-panel section="audit" titleSection="Codificar Consultas">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-full">
                <blade-box-panel setTitle="Facturas">
                    <ng-container boxHead>
                        <app-button setTitle="Buscar" setSize="sm" setIcon="icofont-search-1" />
                    </ng-container>
                    <ng-container boxbody>
                        <table-encode-query></table-encode-query>
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>