<fieldset class="im-fieldset">
    @if(setLabel()) {
        <legend>{{ setLabel() }}</legend>
    }
    <div class="input-group">
        @if(setIcon()) {
            <label class="input-group-text self-start text-[var(--color-300)]" [for]="id">
                <i [class]="setIcon()"></i>
            </label>
        }
        <textarea class="form-control" [(ngModel)]="currentValue" (input)="change()" (paste)="change()" (focus)="change()" [id]="id" [attr.rows]="setRow()"></textarea>
    </div>
</fieldset>