@if(data()) {
<div class="ui-detail">
    <div class="detail-titles">
        <h2>{{ value().name }}</h2>
        <ul>
            <li><b>Código:</b> {{ value().code }}</li>
        </ul>
    </div>
    <ul class="detail-ul">
        <li>
            <div class="col-span-4">
                <small>Sexo</small>
                <div>{{ value().gender }}</div>
            </div>
            <div class="col-span-4">
                <small>Edad Mínima</small>
                <div>{{ value().minAge }}</div>
            </div>
            <div class="col-span-4">
                <small>Edad Máxima</small>
                <div>{{ value().maxAge }}</div>
            </div>
        </li>
        <li>
            <div class="col-span-6">
                <small>Categoría</small>
                <div>{{ value().categoryName }}</div>
                <ul>
                    <li><b>RANGO:</b> {{ value().categoryRange }}</li>
                </ul>
            </div>
            <div class="col-span-6">
                <small>Sub Categoría</small>
                <div>{{ value().subCategory }}</div>
                <ul>
                    <li><b>RANGO:</b> {{ value().subCategoryRabge }}</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="col-span-full">
                <small>Capítulo Diagnóstico</small>
                <div>{{ value().chapter }}</div>
                <ul>
                    <li><b>RANGO:</b> {{ value().chapterRange }}</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="detail-title">
        <i class="icofont-settings"></i>
        <span>Características</span>
    </div>
    <ul class="detail-items">
        <li>
            <block-switch-status [active]="value().hospitalization">
                Hospitalización
            </block-switch-status>
        </li>
        <li>
            <block-switch-status [active]="value().procedure">
                Procedimiento
            </block-switch-status>
        </li>
        <li>
            <block-switch-status [active]="value().common">
                Común
            </block-switch-status>
        </li>
        <li>
            <block-switch-status [active]="value().notify">
                Notificar
            </block-switch-status>
        </li>
        <li>
            <block-switch-status [active]="value().active">
                Vigencia
            </block-switch-status>
        </li>
    </ul>
</div>
} @else {
    <select-some-item />
}