/* img avatar  */
.img-avatar {
    --size-avatar: 40px;
    @apply w-[var(--size-avatar)] h-[var(--size-avatar)]  object-cover object-center;
}
.img-avatar > img {
     @apply object-cover object-center w-full h-full;
}
.img-avatar.avatar-rounded > img {
    @apply rounded-full;
}
.img-avatar.avatar-xs {
    --size-avatar: 25px;
}
.img-avatar.avatar-sm {
    --size-avatar: 45px;
}
.img-avatar.avatar-md {
    --size-avatar: 55px;
}

.img-avatar.avatar-lg {
    --size-avatar: 75px;
}
.img-avatar.avatar-xl {
    --size-avatar: 85px;
}
.img-avatar.avatar-2xl {
    --size-avatar: 100px;
}
.img-avatar.avatar-3xl {
    --size-avatar: 145px;
}
.img-avatar.avatar-4xl {
    --size-avatar: 155px;
}