.m-x-1 > * + * {
    @apply mt-1
}

.app-gisa {
    main {
        @apply bg-[var(--color-50)];
    }
}

/* ui icon */
.ui-icon-box {
    --size-box-icon: 45px;
    @apply flex justify-center items-center w-[var(--size-box-icon)] h-[var(--size-box-icon)] text-[20px];
}
.ui-icon-box.icon-sm {
    --size-box-icon: 32px;
}

/* ul lista */
.list-content {
    @apply flex divide-y flex-col bg-white flex-wrap shadow-md border border-gray-50 overflow-hidden rounded-lg py-2;
}
.ul-list {
    @apply w-full;
}
.ul-list + .ul-list {
    margin-top: .5rem;
}
.li-list {
    @apply block w-full;
}

.btn-list {
    @apply text-start py-[6px] px-3 hover:bg-[var(--color-50)] block w-full active:bg-[var(--color-100)];
}

.user-actions .dropdown-toggle {
    @apply p-1 rounded-lg;
}
.user-actions [aria-expanded=true] {
    @apply bg-[var(--color-50)];
}


/* list transfer  */
.list-transfer-ul {
    @apply shadow-md border border-gray-100 p-2 rounded-lg min-h-[50px] m-x-1;
}

.list-transfer-btn {
    @apply block border border-[var(--color-200)] transition-colors hover:bg-[var(--color-300)] bg-[var(--color-100)] w-full text-left rounded-md px-2 py-1;
}

.list-transfer-btn.active {
    @apply bg-[var(--color-700)] text-white border-[var(--color-700)];
}

.list-transfer-btn-control {
    @apply block border border-[var(--color-100)] px-4 py-2 bg-[var(--color-50)] rounded-lg hover:bg-[var(--color-100)] transition-colors;
}
.list-transfer-btn-control.btn-red {
    @apply bg-red-50 border-red-100 text-red-600 hover:bg-red-100;
}

.ui-th-divider {
    @apply divide-x divide-[var(--color-400)];
}
.ui-tr-divider {
    @apply divide-x;
}


