.im-fieldset {
    display: flex;
    align-items: end;
    border: 1px solid var(--color-100);
    border-radius: 10px;
    position: relative;
    input, select, textarea {
        padding: 0;
        width: 100%;
        background-color: transparent;
        outline: none !important;
        padding: 10px;
        padding-top: 4px;
        flex-grow: 1;
        flex-basis: 0;
        font-family: inherit;
    }
    legend {
        font-size: .9rem;
        display: block;
        margin-left: 10px;
        color: #959595;
        font-weight: 600;
    }
    button,
    span {
        display: block;
        padding: 10px;
    }
    button:active {
        transform: translateY(1px);
    }
    ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 1px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 1;
        li + li {
            border-top: 1px solid #000;
        }
        li {
            width: 100%;
            display: block;
            padding: 8px 10px;
            cursor: pointer;
            &:hover {
                background-color: var(--color-50);
            }
            &:active {
                background-color: var(--color-100);
            }
        }
    }
}