<blade-table [headDivider]="true">
    <ng-container tableActions>
        <form-admissions-control />
    </ng-container>
    <ng-container tableHead>
        <tr>
            <th>EPS</th>
            <th>Admision</th>
            <th>Fecha Admision</th>
            <th>Identidad</th>
            <th>Paciente</th>
            <th>Facturador</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
    </ng-container>
</blade-table>