<blade-table [rounded]="true" [setData]="dataTable()" [colspan]="5" (onPage)="paginate($event)" [loadingData]="load()">
    <ng-container tableHead>
        <tr>
            <th>Codigo</th>
            <th>Programa</th>
            <th>Edad Min/Max</th>
            <th>Sexo</th>
            <th class="text-end">Acciones</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(entity of entities(); track entity.id) {
            <tr TrSelected [idx]="tdSelected()" [id]="entity.id">
                <td class="text-end">{{ entity.id }}</td>
                <td>
                    <p class="font-bold">{{ entity.name }}</p>
                    <a class="text-gray-400 text-sm">{{ entity.shortName }}</a>
                </td>
                <td>
                    Edad min: <span class="font-semibold">{{ entity.minAge }}</span>, max: <span class="font-semibold">{{ entity.maxAge }}</span>
                </td>
                <td class="text-end">{{ entity.gender.name }}</td>
                <td class="text-end">
                    <app-button setIcon="icofont-info-circle" setSize="sm" (action)="emit(entity)" />
                </td>
            </tr>
        }
    </ng-container>
</blade-table>