<blade-table [colspan]="6" [setData]="data()" [loadingData]="load()" (onPage)="paginate($event)">
    <ng-container tableHead>
        <tr>
            <th>Nombre</th>
            <th width="180">Código medic..</th>
            <th>Medicamentos</th>
            <th>Valor</th>
            <th>Estado</th>
            <th width="80" class="text-right">Accion</th>
        </tr>
    </ng-container>
    <ng-container tableBody>
        @for(oxygen of list(); track oxygen.id; let idx = $index) {
            <tr TrSelected [idx]="tdSelected()" [id]="oxygen.id">
                <td>{{ oxygen.name }}</td>
                <td>{{ oxygen.medicine.code }}</td>
                <td>{{ oxygen.medicine.name }}</td>
                <td class="text-right">$ {{ oxygen.value }}</td>
                <td class="text-center">
                    <badge-status [setStatus]="oxygen.status"/>
                </td>
                <td class="text-right">
                    <app-button setIcon="icofont-info-circle" setSize="sm" (action)="emit(oxygen)" />
                </td>
            </tr>
        }
    </ng-container>
</blade-table>