@if(data()) {
    <div class="ui-detail">
        <div class="detail-titles">
            <h2>{{ value().name }}</h2>
            <ul>
                <li><b>Sexo:</b> {{ value().gender }}</li>
                <li><b>Edad:</b> min: {{ value().minAge }} ~ max: {{ value().maxAge }}</li>
            </ul>
        </div>
        <ul class="detail-ul">
            <li>
                <div class="col-span-4">
                    <small>Ámbito</small>
                    <div>{{ value().scope }}</div>
                </div>
                <div class="col-span-4">
                    <small>N° de camas</small>
                    <div>{{ value().bedCount }}</div>
                </div>
            </li>
        </ul>
        <div class="detail-title">
            <i class="icofont-info-circle"></i>
            <span>Centro de costos</span>
        </div>
        <ul class="detail-ul">
            <li>
                <div class="col-span-4">
                    <small>Titulo</small>
                    <div>{{ value().costCenter }}</div>
                </div>
                <div class="col-span-4">
                    <small>Area</small>
                    <div>{{ value().costCenterArea }}</div>
                </div>
                <div class="col-span-4">
                    <small>Cuenta Contable</small>
                    <div>{{ value().costCenterAccount }}</div>
                </div>
            </li>
        </ul>
        <div class="detail-title">
            <i class="icofont-settings"></i>
            <span>Caracteristicas</span>
        </div>
        <ul class="detail-items">
            <li>
                <block-switch-status [active]="value().status">
                    Activo
                </block-switch-status>
            </li>
        </ul>
    </div>
} @else {
    <select-some-item />
}