<form class="d-grid p-3">
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Desde" />
    </div>
    <div class="col-span-2">
        <input-panel-text setSize="sm" setType="date" setLabel="Hasta" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Facturador" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Entidad" />
    </div>
    <div class="col-span-2">
        <input-panel-select setSize="sm" setLabel="Hambito" />
    </div>
</form>