<section>
    <div>
        <div class="input-group input-clean border-b">
          <span class="input-group-text">
              <i class="icofont-search-1"></i>
          </span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

    </div>
    <ul class="ui-ul ui-sm">
        <li class="ui-li action-li">Ambulancia</li>
        <li class="ui-li action-li">Atención de urgencia</li>
        <li class="ui-li action-li">Atención de urgencia (Accidente laboral)</li>
        <li class="ui-li action-li">Atención de urgencia SOAT</li>
        <li class="ui-li action-li">Consulta externa</li>
    </ul>
</section>