<blade-panel section="setting" titleSection="Servicios asistenciales">
    <ng-container panels>
        <div class="d-grid">
            <div class="col-span-8 space-y-3">
                <div class="block">
                    <blade-box-panel setTitle="Nuevo Servicio asistencial" [padding]="true" [actionsActive]="true" (actionBar)="barAction($event)">
                        <ng-container boxbody>
                            <form-assistance-service #formCreate />
                        </ng-container>
                    </blade-box-panel>
                </div>
                <div class="block">
                    <blade-box-panel setTitle="Servicios asistenciales">
                        <ng-container boxbody>
                            <table-assistance-service #table />
                        </ng-container>
                    </blade-box-panel>
                </div>
            </div>
            <div class="col-span-4">
                <blade-box-panel setTitle="Servicio asistencial" [padding]="true" [actionsActive]="true" [setActionsBar]="actionsBar" (actionBar)="barAction($event)">
                    <ng-container boxbody>
                        <detail-assistance-service />
                    </ng-container>
                </blade-box-panel>
            </div>
        </div>
    </ng-container>
</blade-panel>


<blade-dialog idConnect="form-update" setSize="xl" [hideFooter]="true" #dialogUpdate [activeFade]="false">
    <ng-container dialogHeader>
        <card-basic-text setTitle="Actualizar Entidad" />
    </ng-container>
    <ng-container dialogBody>
        <blade-box-panel ui="clean" [padding]="true" [actionsActive]="true" [setActionsBar]="actionsUpdate" [headerActive]="false" (actionBar)="barAction($event)">
            <ng-container boxbody>
                <form-assistance-service #formUpdate />
            </ng-container>
        </blade-box-panel>
    </ng-container>
</blade-dialog>